---
title: Components
---

##Accordion

<h3 class="subheader">Accordions sucke elements used to expand and collapse content that is broken into logical sections, much abs.</h3>

<a name="accordion"></a>
{{> example_accordion}}

***

<a name="buttons"></a>
{{> example_button}}

***

<a name="slider"></a>
{{> example_slider}}