{{> accordion}}

***

<h3>Basic</h3>

You can create an accordion using minimal markup like so:

<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
{{#markdown}}
```html
{{> accordion}}
```
{{/markdown}}
  </div>
  <div class="large-6 columns">
    <h4>Rendered HTML</h4>
    
  </div>
</div>