<div class="slider">
	<div>
		<ul class="clearing-thumbs" data-clearing>
		  <li><a href=""><img src="http://placehold.it/350x150"></a></li>
		  <li><a href=""><img src="http://placehold.it/350x150"></a></li>
		</ul>
	</div>
	<div>
		<ul class="clearing-thumbs" data-clearing>
		  <li><a href=""><img src="http://placehold.it/350x150"></a></li>
		  <li><a href=""><img src="http://placehold.it/350x150"></a></li>
		</ul>
	</div>	
</div>
