---
title: Components
---

##Accordion

<h3 class="subheader">Accordions sucke elements used to expand and collapse content that is broken into logical sections, much abs.</h3>

<a name="accordion"></a>
{{> example_accordion}}
<hr>
<a name="buttons"></a>
{{> buttons}}
<hr>

