 <ul class="side-nav" role="navigation" title="Link List">
   <li role="menuitem"><a href="#accordion">accordion</a></li>
   <li role="menuitem"><a href="#buttons">buttons</a></li>
   <li role="menuitem"><a href="#slider">slider</a></li>
 </ul>